/* Set a professional font for the entire portfolio */
body {
  font-family: "Arial", sans-serif;
}
/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom styles here */
body {
  background-color: black;
}

/* Set a professional color scheme with shades of red and blue */


/* Add a container for the main content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Customize the links with the shades of red and blue */
a {
  color: #007bff; /* Blue */
}

a:hover {
  color: #dc3545; /* Red */
}

/* styles.css */
.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 10px;
  height: 10px;
}


.navigation {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}
