/* styles.css */
/* Set a professional font for the entire portfolio */
body {
  font-family: "Arial", sans-serif;
}

/* Set a professional color scheme with shades of red and blue */
a {
  color: #007bff; /* Blue */
}

a:hover {
  color: #dc3545; /* Red */
}

/* Customize the main container for the main content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  color: white;
}

/* About Me section styles */
.section-my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.profile-img i {
  font-size: 96px;
}

/* Paragraph styles for the About Me content */
p {
  margin-bottom: 1rem;
}

/* Customize links within the About Me content */
.section-my-5 a {
  color: #007bff;
  text-decoration: none;
}

.section-my-5 a:hover {
  color: #dc3545;
}
